<!-- wp:template-part {"slug":"ui-frontpage-header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"90vw"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2>What can we help you with?</h2>
<!-- /wp:heading -->

<!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"style":{"border":{"radius":"7rem"}},"backgroundColor":"main","textColor":"accent"} /-->

<!-- wp:template-part {"slug":"ui-front-page-category-block","className":"ticss-b230ae9e","hasCustomCSS":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"90vw"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>octo helper goes here</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"90vw"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"ui-article-card","className":"ticss-bbc21d9c","hasCustomCSS":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"90vw"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>blog card</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"90vw"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:mailchimp-for-wp/form {"id":75} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"90vw"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"ui-itw-carousel","area":"uncategorized"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"ui-footer"} /-->